<div class="trello-list-container">
  <mat-toolbar color="primary" class="md-toolbar">
    <span class="list-title">{{listData.name}}</span>
    <span class="list-title-spacer"></span>
    <button mat-icon-button (click)="deleteList()"  aria-label="Delete this list">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <div class="card-container">
    <div cdkDropList [cdkDropListData]="listData"
    class="card-list-conatiner" (cdkDropListDropped)="drop($event)">
      <div class="trello-card-conatiner" *ngFor="let card of listData.cards,let i = index" cdkDrag>
        <app-trello-card [cardData]="card" [index]="i" (removeCard)="removeCardAtIndex($event)">
        </app-trello-card>
      </div>
    </div>
  </div>

  <footer>
    <button (click)="addNewCard()" mat-fab color="primary" aria-label="Add new card">
      <mat-icon>add</mat-icon>
    </button>
  </footer>
</div>
